name: PHPStan

on: [push, pull_request]

jobs:
  phpstan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.ref }}
      - name: Create Vendor Directory
        run: |
          echo Making directory...
          mkdir vendor
          echo Directory made.
      - name: wget virions, Commando
        uses: wei/wget@v1
        with:
          args: -O vendor/Commando.phar https://poggit.pmmp.io/r/89644/Commando_dev-13.phar
      - name: wget virions, InvMenu
        uses: wei/wget@v1
        with:
          args: -O vendor/InvMenu.phar https://poggit.pmmp.io/r/94959/InvMenu_dev-105.phar
      - name: Run PHPStan
        uses: paroxity/pmmp-phpstan-action@3.22.1
        with:
          phpstan-config: phpstan.neon.dist
